data_structures/HEAP
data_structures/SLISTS
storage/FLASH
storage/EEPROM
storage/FLS
kernel/MAILBOXES
kernel/SEMAPHORES
kernel/MUTEXES
kernel/PIPES
hal_drivers/INTERRUPTS
hal_drivers/SPI
hal_drivers/ADC
wireless/BLUETOOTH
wireless/WIFI
wireless/LORA
TEMP