/ {
    aliases {
        uart = &lpuart0;
    };  
};

/*enable and configure pins for the uart 0*/
&lpuart0 {
    status = "okay";
    pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
};

/*configure uart pins as Tx and Rx pins*/
&pinctrl {
	uart_pins: uart_pins {
		group0 {
			pinmux = <LPUART0_RXD_P0_2>, <LPUART0_TXD_P0_3>;
            slew-rate = "fast";
			drive-strength = "low";
			input-enable;
        };
    };
};
